<div class="container">
  <div class="game">
    <button class="exit" (click)="exitGame()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <div *ngIf="!isFullyLoaded">
      <div><mat-spinner></mat-spinner></div>
    </div>
    <div *ngIf="isFullyLoaded">
      <h1>Mixed letters - {{ currentCategory?.name }}</h1>
      <div class="coins-container">
        <span>{{ coins }}</span>
        <mat-icon mat-icon-color="primary">attach_money</mat-icon>
      </div>
      <div>
        <div class="textstyle">
          Hebrew word: {{ getOrigenWord() }} <br /><br />
          Mixed English word: {{ sw }}<br /><br />
          <div>
            Guess:
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="usersAnser"
                name="origin-{{ usersAnser }}"
                required
                pattern="^[a-zA-Z]*?$"
                #originField="ngModel"
              />
              <mat-error
                *ngIf="
                  originField.invalid === null || originField.invalid === true
                "
              >
                Use English letters only
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="buttonPlace">
          <button class="button" mat-icon-button (click)="resetInput()">
            Reset
          </button>
          <button
            class="button"
            mat-icon-button
            [disabled]="doUserAnser()"
            (click)="nextStage()"
          >
            submit
          </button>
        </div>
        <div class="progressBarStyle">
          <div class="progress-info">
            <mat-card class="icon-left">
              <mat-card-content>{{ startPlace }}</mat-card-content>
            </mat-card>
          </div>
          <mat-progress-bar
            mode="determinate"
            value="{{ progressValue }}"
          ></mat-progress-bar>
          <div class="progress-info">
            <mat-card class="icon-right">
              <mat-card-content>{{ endPlace }}</mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
