.container{
    display: flex;
    justify-content: center;
    
}
.game{
    border: 1px solid;
    margin: 15px;
    width: 250px;
    height: 180px;
    text-align: center;
    float: left;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-size: 80px;
}
.custom-content {
    background-color: lightblue;
    padding: 20px;
    width: ;
  }