<h1>Let's Play</h1>
<div class="container">
<mat-card appearance="outlined" class="game">
    <mat-card-content>
        <h4>Trivia</h4>
        <p>Choose every word's translation from a list of 4 points</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card appearance="outlined" class="game">
    <mat-card-content>
        <h4>Mixed Letters</h4>
        <p> Practice spelling, by finding the right order of letters for every word in category</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card appearance="outlined" class="game">
    <mat-card-content>
        <h4>Word Sorter</h4>
        <p>Categorize words by dragging and dropping them into the right category</p>
    </mat-card-content>
  </mat-card>
  </div>
