<h1>You're Learning:</h1>
<div *ngIf="!isFullyLoaded">
  <mat-spinner class="custom-spinner"></mat-spinner>
</div>
<div *ngIf="isFullyLoaded">
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.numberOfPoints }}</mat-card-title>
    <mat-card-subtitle>Points</mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.numberOfgamesPlayed }}</mat-card-title>
    <mat-card-subtitle> Games played</mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.avgSorterGame.toFixed(2) }}</mat-card-title>
    <mat-card-subtitle>Word Sorter game average points</mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.avgMixedGame.toFixed(2) }}</mat-card-title>
    <mat-card-subtitle> Mixed Letters game average points </mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.gameMaxAvg }}</mat-card-title>
    <mat-card-subtitle> Game with max average </mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.gameMinAvg }}</mat-card-title>
    <mat-card-subtitle> Game with min average </mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.playedCategorys }}</mat-card-title>
    <mat-card-subtitle>Categorys that have played </mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.notPlayedCateory }}</mat-card-title>
      <mat-card-subtitle>Categorys NOT played yet:</mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.percentOfPerfectScore.toFixed(2) }} %</mat-card-title>
    <mat-card-subtitle>Games with perfect score </mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title> {{ this.maxCategoryPlayed }}</mat-card-title>
    <mat-card-subtitle> Most played Category</mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.percentsCategorysLearned.toFixed(2) }} %</mat-card-title>
    <mat-card-subtitle>Categorys learned </mat-card-subtitle>
  </mat-card>
</div>
