.container{
    display: flex;
    justify-content: center;
    
}
.game{
    border: 1px solid;
    margin: 15px;
    width: 250px;
    height: 180px;
    text-align: center;
    float: left;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-size: 80px;
}
.custom-spinner {
    color: blue;
    margin: 20px auto;
  }
.custom-content {
    position: relative;
  border: 1px solid;
  margin-left: 200px;
  padding: 16px;
  text-align: center;
  float: left;
  margin: 6px;
  border-radius: 20px;
  border-width: calc(100% - 50px); /*for making the borded dynamic*/
  background-color: #303f9f;
  color: white;
  width: 170px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  }
  .custom-content :hover{
    transform: scale(1.1);

  }
  mat-card-title{
    font-size: 32px;
    font-weight: bold;
  }
