.container{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.game{
    border: 1px solid;
    margin: 15px;
    width: 250px;
    height: 180px;
    text-align: center;
    float: left;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-size: 80px;
}
h1:hover{
    font-size: 84px;
}
.gamenification{
  color: white;
    margin: 20px auto;
    text-align: center;
    background-color: #303f9f;
    font-size: larger;
    width: 660px;
}
.custom-spinner {
    color: blue;
    margin: 20px auto;
  }
.custom-content {
    position: relative;
  border: 1px solid;
  margin-left: 200px;
  padding: 16px;
  text-align: center;
  float: left;
  margin: 6px;
  border-radius: 20px;
  border-width: calc(100% - 50px);
  background-color: #303f9f;
  color: white;
  width: 170px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  .custom-content :hover{
    width: 180px; 
  }

  mat-card-title{
    font-size: 32px;
    font-weight: bold;
    align-self: center;
    align-items: center;
  }

  mat-card-title:hover{
    font-size: 45px;
  }
  mat-card-subtitle{
    color: aliceblue;
    position: static;
  }
  mat-card-subtitle:hover{
    font-weight: bold;
  }