<h1>You're Learning:</h1>
<div *ngIf="!isFullyLoaded">
  <mat-spinner class="custom-spinner"></mat-spinner>
</div>
<div *ngIf="isFullyLoaded" class="container">
    <mat-card class="custom-content" appearance="outlined">
        <mat-card-title>{{ this.numberOfgamesPlayed }}</mat-card-title>
        <mat-card-subtitle> Games played</mat-card-subtitle>
      </mat-card>

  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title>{{ this.numberOfPoints }}</mat-card-title>
    <mat-card-subtitle>Points earned</mat-card-subtitle>
  </mat-card>

  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title *ngIf="!this.playedCategorys">--</mat-card-title>
    <mat-card-title *ngIf="this.playedCategorys">{{ this.playedCategorys }}</mat-card-title>
    <mat-card-subtitle>Categories learnt</mat-card-subtitle>
  </mat-card>
  
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title *ngIf="!this.gameMaxAvg">--</mat-card-title>
    <mat-card-title *ngIf="this.gameMaxAvg">{{ this.gameMaxAvg }}</mat-card-title>
    <mat-card-subtitle> Game with maximum average </mat-card-subtitle>
  </mat-card>

  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title *ngIf="!this.percentOfPerfectScore">--</mat-card-title>
    <mat-card-title *ngIf="this.percentOfPerfectScore">{{ this.percentOfPerfectScore.toFixed(2) }} %</mat-card-title>
    <mat-card-subtitle>Games with PERFECT score</mat-card-subtitle>
  </mat-card>

  <mat-card class="custom-content" appearance="outlined">
    <div *ngIf="!this.avgSorterGame">
        <mat-card-title>--</mat-card-title>
    </div>
    <mat-card-title *ngIf="this.avgSorterGame>=0">{{ this.avgSorterGame.toFixed(2) }}</mat-card-title>
    <mat-card-subtitle>Word Sorter game average points</mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <div *ngIf="!this.avgMixedGame">
        <mat-card-title>--</mat-card-title>
        </div>
    <mat-card-title *ngIf="this.avgMixedGame">{{ this.avgMixedGame.toFixed(2) }}</mat-card-title>
    <mat-card-subtitle> Mixed Letters game average points </mat-card-subtitle>
  </mat-card>
  
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title *ngIf="!this.gameMinAvg">--</mat-card-title>
    <mat-card-title *ngIf="this.gameMinAvg">{{ this.gameMinAvg }}</mat-card-title>
    <mat-card-subtitle> Game with minimum average </mat-card-subtitle>
  </mat-card>
  
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title *ngIf="!this.notPlayedCateory">--</mat-card-title>
    <mat-card-title *ngIf="this.notPlayedCateory">{{ this.notPlayedCateory }}</mat-card-title>
      <mat-card-subtitle>Categories NOT played yet</mat-card-subtitle>
  </mat-card>
  
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title *ngIf="!this.maxCategoryPlayed">--</mat-card-title>
    <mat-card-title *ngIf="this.maxCategoryPlayed"> {{ this.maxCategoryPlayed }}</mat-card-title>
    <mat-card-subtitle> is the MOST played Category</mat-card-subtitle>
  </mat-card>
  <mat-card class="custom-content" appearance="outlined">
    <mat-card-title *ngIf="!this.percentsCategorysLearned">--</mat-card-title>
    <mat-card-title *ngIf="this.percentsCategorysLearned">{{ this.percentsCategorysLearned.toFixed(2) }} %</mat-card-title>
    <mat-card-subtitle>Percenrs Categories learned </mat-card-subtitle>
  </mat-card>
</div>
