<h4>מָבוֹא</h4>
<p>
    אפליקציית לימוד האנגלית שלנו מציעה חווית למידה אינטראקטיבית ומעשירה המותאמת לכל רמה ורמה.<br>
 הממשק מאפשר למשתמשים לנווט בקלות בין מסכי ניהול ומשחק ולהתקדמות
 בקצב שלהם.
</p>
<h4>הכנת קטגוריות - שלב חובה לפני משחק ראשון!</h4>
<p>
    בפעם הראשונה שאתם מתחברים למשחק, עליכם למלא קטגוריות מילים על מנת שישמשו אתכם במשחק.
 בצד שמאל של הסרגל העליון ישנו תפריט.<br>
 בתפריט, בחר את כפתור הניהול "admin".<br>
 יפתח תפריט שבו יש להזין קטגוריות מילים שונות וצמדי מילים.<br>
 שימו לב! תפריט זה מיועד למבוגר המלווה את הילד בתהליך הלמידה.
</p>
<h4>מסך ניהול</h4>
<p>
    מסך הניהול הוא לוח המחוונים האישי של כל משתמש. זה מאפשר למשתמשים:<br><br>

    1. לעקוב אחר התקדמות: גרף חזותי המראה את ההתקדמות לאורך זמן, כולל מספר המילים שנלמדו, מיומנות
    רמה ומספר משחקים שהושלמו.<br>
    2. הגדר יעדים: היכולת להגדיר יעדים אישיים כמו מספר המילים החדשות ללמוד בכל יום הוא הרצוי
 רמת מיומנות.<br>
 3. בחר נושאים: מגוון רחב של נושאים להתמקד בהם, מאוצר מילים בסיסי ועד למונחים מתקדמים בתחומים שונים כגון
 כמו עסקים, טכנולוגיה, נסיעות ועוד.<br>
 4. בחר דרגת קושי: התאם את רמת הקושי של המילים וחומרי הלמידה כך שיתאימו למשתמש
 רמת מיומנות.<br>
</p>
<h4>מסכי משחק</h4>
<p>
    מסכי המשחק הם לב ליבה של האפליקציה, ומציעים מגוון פעילויות אינטראקטיביות להנאה ואפקטיביות
    לימוד שפה.<br> חלק מהפעילויות כוללות:<br><br>
    1. סדר מילים: סיווג מילים על ידי גרירה ושחרורן לקטגוריה הנכונה.<br>
    2. אותיות מעורבות: שיחות עם בוט אינטליגנטי המדמה שיחה עם אדם אמיתי, לשיפור
 כישורי דיבור והבנה.<br>
 3. משחק טריוויה: בחר תרגום של כל מילה מתוך רשימה של 4 נקודות.<br>
 4. משחק מילים מעורבבות: משחקים מהנים ומאתגרים לשיפור אוצר המילים והבנת ההקשר. אותיות מעורבות
 תרגול איות,<br>על ידי מציאת הסדר הנכון של אותיות לכל מילה בקטגוריה.<br>
 5. תחרות עם משתמשים אחרים: היכולת להתחרות עם משתמשים אחרים ולהשוות תוצאות.<br>
 6. תרגילים אינטראקטיביים: מגוון רחב של תרגילים לבדיקת אוצר מילים, דקדוק, הבנה ו
 הַקשָׁבָה.<br>
</p>
<h4>תכונות נוספות</h4>
<p>
    מילון מקיף: מילון מובנה עם הגדרות, דוגמאות והגייה.<br>
    תזכורות: תזכורות מותאמות אישית לתרגול תרגילים וללמוד מילים חדשות. <br>
    סטטיסטיקה מפורטת: סטטיסטיקה מפורטת על ההתקדמות, המאפשרת למשתמשים לעקוב אחר הישגיהם ולזהות אזורים
 לשיפור.<br>
   סטטיסטיקה מפורטת: סטטיסטיקה מפורטת על ההתקדמות, המאפשרת למשתמשים לעקוב אחר הישגיהם ולזהות אזורים
   לשיפור.<br>
   תמיכה במספר פלטפורמות: האפליקציה זמינה במגוון מכשירים (סמארטפונים, טאבלטים, מחשבים).
</p>
<h4>תַקצִיר</h4>
<p>
    אפליקציית לימוד האנגלית שלנו מציעה חווית למידה ייחודית ומעשירה המותאמת לכל משתמש.<br> בְּאֶמצָעוּת
    מסכי ניהול אינטואיטיביים ומגוון פעילויות מרתקות, משתמשים יכולים לשפר את כישורי האנגלית שלהם בקלות ו
    בִּמְהִירוּת.<br>
</p>
<h1>אנו מאחלים לכם למידה מהנה וחוויתית!<h1><br><br><br><br>