<h4>Introduction</h4>
<p>
    Our English learning app offers an interactive and enriching learning experience tailored to every level and
    goal.<br>
    The smooth and intuitive interface allows users to easily navigate between management and game screens and progress
    at their own pace.
</p>
<h4>Management Screen</h4>
<p>
    The management screen is each user's personal dashboard. It allows users to:<br><br>

    1. Track Progress: A visual graph showing progress over time, including the number of words learned, proficiency
    level, and number of lessons completed.<br>
    2. Set Goals: The ability to set personal goals such as the number of new words to learn each day or the desired
    proficiency level.<br>
    3. Choose Topics: A wide range of topics to focus on, from basic vocabulary to advanced terms in various fields such
    as business, technology, travel, and more.<br>
    4. Choose Difficulty Level: Adjust the difficulty level of exercises and learning materials to match the user's
    proficiency level.<br>
    5.Edit Profile: Update user information, set personal preferences, and add additional information.<br>
</p>
<h4>Game Screens</h4>
<p>
    The game screens are the heart of the app, offering a variety of interactive activities for fun and effective
    language learning.<br> Some of the activities include:<br><br>
    1. Word Sorter: Categorize words by dragging and dropping them into the right category.<br>
    2. Mixed letters: Conversations with an intelligent bot that simulates a conversation with a real person, to improve
    speaking and comprehension skills.<br>
    3. Trivia Game:Choose every word's translation from a list of 4 points.<br>
    4. Word mixed Game: Fun and challenging games to improve vocabulary and understanding of context. Mixed Letters
    Practice spelling,<br> by finding the right order of letters for every word in category.<br>
    5. Competing with Other Users: The ability to compete with other users and compare results.<br>
    6. Interactive Exercises: A wide range of exercises for testing vocabulary, grammar, comprehension, and
    listening.<br>
</p>
<h4>Additional Features</h4>
<p>
    Comprehensive Dictionary: A built-in dictionary with definitions, examples, and pronunciation.<br>
    Reminders: Personalized reminders to practice exercises and learn new words. <br>
    Detailed Statistics: Detailed statistics on progress, allowing users to track their achievements and identify areas
    for improvement.<br>
    Support for Multiple Languages: The ability to choose the interface language (English, Hebrow).<br>
    Support for Multiple Platforms: The app is available on a variety of devices (smartphones, tablets, computers).
</p>
<h4>Summary</h4>
<p>
    Our English learning app offers a unique and enriching learning experience tailored to each user.<br> Through
    intuitive management screens and a variety of engaging activities, users can improve their English skills easily and
    quickly.
</p>