:host {
    display: block;
  }

  h1{
    text-align: center;
    font-size: 80px;
}

button {
  width: 210px;
  height: 50px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none; 
  cursor: pointer; 
}
button:hover {
  background-color: #303f9f; 
}

button[disabled] {
  background-color: #ccc;
  cursor: none;
}